[submodule "Rongine/vendor/spdlog"]
	path = Rongine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rongine/vendor/GLFW"]
	path = Rongine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
