# Visual Studio
.vs/
*.user
*.suo
*.ipch
*.VC.db
*.VC.opendb

# Build output
bin/
bin-int/
*.obj
*.o
*.pch
*.pdb
*.idb
*.ipdb
*.iobj
*.ilk

# Executables and libraries
*.exe
*.dll
*.lib
*.so
*.dylib

# Logs, caches, temp
*.log
*.tmp
*.cache

Rongine/vendor/imgui/imgui.ini
Rongine/vendor/OCCT

# ===========================
# 【新增】忽略生成的模型和存档
# ===========================
# 3D 模型导出文件
*.step
*.stp
*.stl
*.obj

# 场景存档文件 (如果你不想提交测试场景)
*.rong

# 其它可能生成的临时文件
*.brep